---
layout: default
---

{% assign album = site.data.gallery.albums | where: "title", page.album_title | first %}

<div class="photo-site">
  <a href="/gallery/" class="category-pill">{{ page.title }}</a>

  <div class="fade-in">
    <div class="image-feed">
      {% if album and album.photos %}
        {% for photo in album.photos %}
          {% capture dim_key %}{{ album.folder }}/{{ photo }}{% endcapture %}
          {% assign dims = site.data.photo_dims[dim_key] %}
          <div class="image-item">
            <a class="glightbox" href="/assets/gallery/{{ album.folder }}/{{ photo }}" data-gallery="album">
              <img
                src="/assets/gallery/{{ album.folder }}/{{ photo }}"
                alt="Photo"
                loading="lazy"
                decoding="async"
                {% if dims %}width="{{ dims.w }}" height="{{ dims.h }}"{% endif %}
              />
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p style="padding: 2rem; color: red;">
          Album lookup failed. Debug info:<br>
          album_title: "{{ page.album_title }}"<br>
          Make sure "{{ page.album_title }}" exists in _data/gallery.yml
        </p>
      {% endif %}
    </div>
  </div>
</div>

<script src="/assets/js/album-lightbox.js" defer></script>
